@import url('https://fonts.googleapis.com/css2?family=Young+Serif:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    color: #4b4948;
    font-size: 12.5px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

body{
    /* padding: 100PX; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--Stone-100) !important;
    
}
main{
    padding: 33px;
    width: 554px;
    height: 80%;
    background:var(--White);
    border-radius: 20px;
}
.section{
    margin-bottom: 35px;
}
.img-cont{
    overflow: hidden;
    border-radius: 10px;
    padding: 0 !important;
}
.img-cont img{
    width: 100%;
}
h1{
    font-family: 'Young Serif', serif;
    font-weight: 600;
    font-size: 35px !important;
}
h2{
    font-family: 'Young serif', serif;
    font-size: 23px !important;
    color: var(--Brown-800) !important;
}
h3{
    font-size: 18PX !important;
    color: var(--Rose-800) !important;
    font-family: 'Outfit', sans-serif;
    font-weight: 600 !important;
}
.sub {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--Stone-600);
}
blockquote{
    height: auto;
    background-color:var(--Rose-50);
    border-radius: 10px;
}
blockquote ul li p{
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 500;
}
.txt{
        font-size: 14px;
        margin-bottom: 2px;
}
.blogs div{
    height: 40px;
    border-bottom: 0.75px solid #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.blogs span{
    color: #7c4d40;
    font-family: 'Outfit',serif;
    font-weight: 700;
}
.nutrition li{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
 li::marker {
    color: var(--Brown-800); /* Changes the color of the numbers */
  }
.bb{
    border-bottom: 0.75px solid #b8b8b8; 
    padding-bottom: 20px;
    padding-top: 20px;
}
.nutrition{
    border-bottom: none;
}

@media (width<=320px) {
    main{
        border-radius: 0;
        height: 100%;
    }
    body{
        height: auto;
        padding: 0 !important;
    }
}